
.background-svg {
    background-image: url('./bgImage.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    min-height: 100vh; /* this ensures that it covers the full viewport */
  }
  

  @media (max-width: 768px){
    .background-svg {
        /* background-color: red;
        background-image: url('./bgImage.js');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        width: 100%;
        height: 100vh;
        min-height: 100vh; this ensures that it covers the full viewport */
      }
  }
