.profile-container {
  width: clamp(1rem, 50vw, 15rem);
  height: clamp(1rem, 50vw, 15rem); 
  border-radius: 50%;
  margin: 0 auto; 
  overflow: hidden;
}

.avatar {
  transform: scale(2.5) translateY(-9%);
  width: 100%;
  height: 100%; 
  max-width: 100%;
  vertical-align: middle;
  overflow: clip;
}


.vertical-line{
    content: '';
    width: 3px;
    height: 5rem;
    background: #909294;
    margin-top: 10px;  /* Optional: You can set this to position it better */
  }
  
  .horizontal-line{
    content: '';
    width: 25vw;
    height: 0.5rem;
    background: #909294;
    border-radius: 10px;
  }
.skill{
  height: 10rem;
  background: rgba(0, 0, 0, 0.5);
}

  .skill img{
    width: 4rem;
    height: 4rem;
    object-fit: fill;
  }
  .resume-a:hover{
    transform: scale(1.1);
  }