.container{
    background-color: red;
}
.row{
    background-color: blue;
}
  


.about-me {
    content: '';
    width: 2px;
    height: 100px;
    background: #909294;
    margin-top: 10px;  /* Optional: You can set this to position it better */
  }
  