

.vertical-line{
    content: '';
    width: 3px;
    height: 5rem;
    background: #909294;
    margin-top: 10px;  /* Optional: You can set this to position it better */
  }
  
  .horizontal-line{
    content: '';
    width: 200px;
    height: 0.5rem;
    background: #909294;
    border-radius: 10px;
  }
.skill{
  height: 10rem;
  background: rgba(0, 0, 0, 0.5);
}

  .skill img{
    width: 4rem;
    height: 4rem;
    object-fit: fill;
  }
  .resume-a:hover{
    transform: scale(1.1);
  }