footer{
    background-color: #19181d !important;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 20rem;
    padding: 3rem 5rem 3rem 5rem;

}
aside{
    /* background-color: blue; */
    min-width: fit-content;
}
#footer-ul{
    width: 100%;

}
.img-links a{
    margin: 1%;
}