
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.background-svg {
    background-image: url('../images/headerImg.svg');

    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;

}
body{
    font-family: 'Poppins' !important;
    line-height: 200% !important;
    font-size: clamp(12px, 4vw, 18px) !important;
    letter-spacing: .05em;
    color:aliceblue !important;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}