
header{
    /* background-image: url('../images/headerImg.svg'); */

    background-color: #19181d !important;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.nav-tabs {
    width: 50%;
    align-self: center;
    justify-content: center;
}
#navbarNav {
    justify-content: space-between;
    flex-direction: row;
}

.nav-item {
    width: 25%;
}
.nav-item a {
    color: red;
    text-align: center;
    text-decoration: solid;
    font-weight: bold; 
    font-size: larger;
    min-width: fit-content;
}

.name-box{
    border-radius: 25px;  /* Adjust the radius as per your requirements */

    width:auto;
    height:auto ;
    
}
.name-box p{
    color: red;
    text-align: center;
    text-decoration: solid;
    font-weight: bold; 
    font-size:xx-large;
}