
header{
    background: rgba(0, 0, 0, 0.6);
}

.nav-tabs {
    min-width: fit-content;
    width: 50%;
}
.nav-item {
    min-width: fit-content;
    width: 20%;
    margin: 1rem 1rem;
}
.nav-item a {
    width: 100%;
    text-align: center;
    min-width: fit-content;
    border-radius: 20px;
    font-size: xx-large;
}

.name-box{
    border-radius: 25px;  /* Adjust the radius as per your requirements */
    position: absolute;
    right: 0;
    min-width: 25%;
    text-align: center;
    font-weight: bold; 
    font-size: xx-large;
    /* border: 2px solid red; */
    
}