
header{
    background: rgba(0, 0, 0, 0.6);
}

.nav-tabs {
    min-width: fit-content;
}
.nav-item {
    height: fit-content;
    margin: 1rem 1rem;
}
.nav-item a {
    width: 100%;
    text-align: center;
    min-width: fit-content;
    border-radius: 20px;
    font-size: xx-large;
    
    background-color: aliceblue;
}

.name-box{
    border-radius: 25px;  /* Adjust the radius as per your requirements */
    position: absolute;
    right: 0;
    top: 0;
    width: clamp(fit-content, 25%, 100%);
    text-align: center;
    font-weight: bold; 
    
    background-color: aliceblue;
    font-size: xx-large;
    
}
